<div class="container-fluid">
    <h1>Coffee List</h1>
    <div class="row">
        <div class="col-md-3 form-group">
            <input placeholder="search coffee" class="form-control" ng-model="$ctrl.query">
        </div>
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Coffee Company</th>
                        <th>Coffee</th>
                        <th>Location</th>
                        <th>Reviews</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="coffee in $ctrl.coffees | filter:$ctrl.query | orderBy:$ctrl.orderBy">
                        <td>{{coffee.brand}}</td>
                        <td>{{coffee.name}}</td>
                        <td>{{coffee.country}}</td>
                        <td>
                            <a href="#!/coffees/{{coffee.id}}">Reviews</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>